
@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

* html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,
sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,
th,td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  /* vertical-align: baseline; */
}


* li {
  list-style: none;
}

* a {
  text-decoration: none;
  color: black;
}

.flex {
  display: flex;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*設定footer本身高度*/
.footer {
  width: 100%;
  height: 70px;
  background-color: #80c2ff;
  justify-content: center;
  align-items: center;
}
.footer_div_p {
  font-size: 20px;
  color: white;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-top: 54px;
  min-height: calc(100vh - 89px - 54px); /*100vh - footer高度 - header高度*/
}
.header {
  width: 100%;
  height: 54px;
  display: flex;
  justify-content: center;
  position: fixed;
  background-color: rgba(193, 218, 255, 1);
  z-index: 1000000;
  top: 0;
  left: 0;
  border-bottom: 1px solid #e8e8e8;
}
.div_header {
  height: 34px;
  width: 1200px;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.header_div_li_a {
  font-size: 29px;
  color: #006BCE;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
}
.header_div_li_a_b{
  color: #1A1A1A;
}
.header_div_other_li_a {
  font-size: 20px;
  color:rgb(34, 34, 34);
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}

.header_div_div_li {
  padding: 10px;
  align-items: center;
}

.header_div {
  flex-direction: row;
}

.header_div_div {
  width: 175px;
  height: 34px;
}

.header_div_div_li_button {
  font-size: 16px;
  color: #666666;
  background-color: white;
}

.header_div_other {
  display: flex;
  gap:20px;
}


@media (max-width: 600px) {
  .header_div_li_a {
    font-size: 20px;
  }
  .header_div_other_li_a {
    font-size: 16px;
  }
  .header_div_div_li_button {
    font-size: 12px;
  }
  .header_div_other {
    gap: 10px;
  }
}