<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  lang="en"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  layout:decorate="~{layout.html}">
<head>
	<meta charset="UTF-8">
	<title>Picture upload system</title>
	<div layout:fragment="header">
		<link rel="stylesheet" th:href="@{/css/index.css}">
	</div>
</head>
<body>
<div class="content" layout:fragment="content">
	<h1>Picture upload system</h1>
	<div>
		<form id="pictureUploadForm" method="post" action="/api/picture/upload" enctype="multipart/form-data">
			<input type="file" name="img" placeholder="請選擇要上傳的相片檔案" required>
			<label>
				<input type="text" name="message" placeholder="請輸入此圖片的描述" required>
			</label>
			<input type="submit" value="Upload">
		</form>
	</div>
	<hr>
	<div class="imgContainer">
		<div class="imgItem">
		</div>
	</div>


</div>
</body>
<div layout:fragment="script">
	<script th:src="@{/js/index.js}"></script>
</div>
</html>
